@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 320px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px black;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
}

p{
    font-weight: bold;
}

.sexta a{
    text-decoration: none;
    color: black;
    
}
.sexta h4{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.sexta a:hover{
    text-shadow: 1px 1px 10px green;
}

.sexta h5{
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sexta ul{
    text-align: center;
    list-style: none;
}

.sabado a{
    text-decoration: none;
    color: black;
}

.sabado h4{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.sabado a:hover{
    text-shadow: 1px 1px 10px green;
}

.sabado ul{
    text-align: center;
    list-style: none;
}

.VJ_30032024 a{
    text-decoration: none;
    color: black;
    
}

.VJ_30032024 h4{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.VJ_30032024 a:hover{
    text-shadow: 1px 1px 10px green;
}

.VJ_30032024 ul{
    text-align: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.VJ_30032024 li{
    padding: 5px;
}


.PASCOA_31032024 a{
    text-decoration: none;
    color: black;
}

.PASCOA_31032024 h4{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.PASCOA_31032024 a:hover{
    text-shadow: 1px 1px 10px green;
}

.PASCOA_31032024 ul{
    text-align: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.PASCOA_31032024 li{
    padding: 5px;
}


.voltar{
    text-align: center;
    padding-top: 40px;
}
.voltar > a{
    text-decoration: none;
    color: black;
}

.voltar > a:hover{
    text-shadow: 1px 1px 10px green;
}